body {
    margin: auto;
    max-width: 38rem;
    box-sizing: border-box;
    overflow: hidden;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

.weather-ui {
    display: none;
}

.weather-ui.active {
    display: block;
}

.weatherBG{
    width:400px;
    height:377px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    position:absolute;
    top: 83px;
    left: 0;
    border-style:hidden;
    outline:none;
    z-index: -10;
}

.signBoard{
height:191px;
width:86px;
left:0px;
top:268px;
position:absolute;
z-index: 999;
}


.rally{
    height:56px;
    width: 170px;
    left:200px;
    top:310px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    position:absolute;
    border-style:hidden;
    outline:none;
    cursor: pointer;
}

.rally.walking {
  animation: walkAway 5s linear forwards;
}

.walk{
  height: 56px;
}

.walk-omori {
  --frame1: url('./assets/omoriWalk.png');
  --frame2: url('./assets/omoriWalk2.png');
}

.walk-kel {
  --frame1: url('./assets/kelWalk.png');
  --frame2: url('./assets/kelWalk2.png');
}

.walk-aubrey {
  --frame1: url('./assets/aubreyWalk.png');
  --frame2: url('./assets/aubreyWalk2.png');
}

.walk-hero {
  --frame1: url('./assets/heroWalk.png');
  --frame2: url('./assets/heroWalk2.png');
}


.walk.walking {
  animation: twoFrameWalk 0.7s steps(1) infinite;
}

.group8
{
  filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
  width:216px;
  height:152.00003051757812px;
  left: 15px;
  top: 200px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  position:absolute;
  margin-top: 4px;
  transform: scaleX(-1);
}

.group8.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.group6
{
  align-self:flex-start;
  height: 56px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  
}
.textBoxSmol
{
  height:56px;
  position: relative;
  top: 5px;
}
.temp
{
  color: #000000;
  text-align: center;
  padding: 0 9px;
  font-size: 13px;
  font-family: 'Pixelify Sans', monospace;
  transform: scaleX(-1);
  position: absolute;
  top: 15px;
  left: 11px;
  width: 34px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.group7
{
  align-self:flex-start;
  height: 78px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  margin-top: 0px;
}
.textBox
{
  height:78px;
  position: relative;
  top:-20px;
}
.description
{
  color: #000000;
  text-align: center;
  padding: 1px 9px;
  font-size: 13px;
  font-family: 'Pixelify Sans', monospace;
  transform: scaleX(-1);
  position: absolute;
  top: 60px;
  left: 11px;
  width: 120px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------------------ ANIMATIONS ------------------------------------ */

@keyframes walkAway {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-220%);
    }
}


@keyframes twoFrameWalk {
  0%, 100%{
    content: var(--frame1)
  }
  50%{
    content: var(--frame2)
  }
}


